<div class="container">
  @let member = selectedMember();

  <h3>
    {{ title }}
    @if (member) {
      for {{ member.name }}
    }
  </h3>

  <div class="grid">
    <div class="row">
      <select class="select" (change)="onSelected($event.target)">
        <option value="" disabled selected>--Select a team member--</option>
        @for (member of members(); track member.id) {
          <option [value]="member.id">{{ member.name }}</option>
        }
      </select>
    </div>
    <div class="row">
      @if (isLoading()) {
        <p>Loading...</p>
      }
      @if (!isLoading() && member) {
        @if (errorMessage()) {
          <p>{{ errorMessage() }}</p>
        } @else {
          <h3>Tasks</h3>
          <label>
            <input
              type="checkbox"
              class="check"
              (change)="onFilter($event.target)"
            />
            Show only incomplete tasks
          </label>
          <ul>
            @for (todo of todosForMember(); track todo.id) {
              <li>
                <label>
                  {{ todo.title }}
                  <!-- <input
                    type="checkbox"
                    [checked]="todo.completed"
                    (change)="onChangeStatus(todo, $event.target)"
                  /> -->
                  <button (click)="onChangeStatus(todo, $event.target)">
                    {{ todo.completed ? "Finished" : "To Do" }}
                  </button>
                </label>
              </li>
            }
          </ul>
        }
      }
    </div>
  </div>
</div>

<router-outlet />
