<div class="container">
  @let member = selectedMember();

  <h3 class="text-center">
    {{ title }}
  </h3>

  <div class="grid">
    <div class="text-center">
      <mat-form-field>
        <mat-label>Select a team member</mat-label>
        <mat-select (valueChange)="onSelected($event)">
          @for (member of members(); track member.id) {
            <mat-option [value]="member.id">{{ member.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      @if (isLoading()) {
        <p id="loading">Loading...</p>
      }
      @if (!isLoading() && member) {
        @if (errorMessage()) {
          <p>{{ errorMessage() }}</p>
        } @else {
          <div id="list-title-row">
            <h3 id="list-title">{{ member.name }}'s Tasks</h3>
            <div class="text-end">
              <mat-slide-toggle
                labelPosition="before"
                (change)="onFilter($event.checked)"
                [checked]="incompleteOnly()"
              >
                <span>Show only incomplete tasks</span>
              </mat-slide-toggle>
            </div>
          </div>

          <mat-selection-list
            #todoList
            (selectionChange)="
              onChangeStatus(
                $event.options[0].value,
                $event.options[0].selected
              )
            "
          >
            @for (todo of todosForMember(); track todo.id) {
              <mat-list-option [value]="todo" [selected]="todo.completed">{{
                todo.title
              }}</mat-list-option>
            }
          </mat-selection-list>
        }
      }
    </div>
  </div>
</div>
